.faq-container {
	display: flex;
	flex-direction: column;
	background: rgba(255,255,255,.5);
	color: var(--dark);
	max-width: 1200px;
	min-width: 400px;
	border-radius: 10px;
	margin: 10px;
}
.item {
	display: flex;
	flex-direction: column;
}
.question {
	display: flex;
	flex-direction: row;
}
.question:hover {
	color: var(--light);
	transition: all 0.5s ease;
	cursor: pointer;
}
.answer {
	display: flex;
	flex-direction: row;
	padding-left: 55px;
	background: rgba(255,255,255,.5)
}
.question h1, h2 {
	margin: 0;
}
.faq-type {
	color: var(--primary);
	text-shadow: 0 0 20px var(--dark);
	flex: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.faq-body {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}
.faq-collapsed {
	flex: 0;
	padding-left: 10px;
	padding-right: 10px;
}