.faq_main_body {
	margin-top: 40px;
	padding-top: 5px;
}
.faq_main_body_header {
    text-align: center;
    margin: 15px 0 6px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
}
.faq_main_cards {
    max-width: 950px;
    margin: 18px auto 0;
    padding: 0;
    display: flex;
	justify-content: center;
    flex-wrap: wrap;
}
.faq_main_card_cell {
	position: relative;
	width: 100%;
    min-height: 1px;
    margin: 10px;
}
.faq_main_card_question, .faq_main_card_answer {
	background-color: rgba(0,0,0,.2); 
	max-width: 950px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 1px;
}
h3.faq_main_card_header {
    text-align: center;
    margin: 15px 0 6px;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: -1px;
}
.faq_main_card_question {
	font-size: 22px;
	font-weight: bold;
    letter-spacing: -1px;
}
.faq_main_card_answer {
    font-size: 18px;
    line-height: 158%;
}
