.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	background-color: var(--default);
	text-align: center;
	cursor: pointer;
	color: var(--light-color);
	box-sizing: border-box;
	text-decoration: none;
	font-size: 24px;
	min-height: 50px;
}
.primary {
	background-color: var(--primary);
	color: var(--dark);
}
.default{
	background-color: var(--default);
}
.primary:hover {
	background-color: var(--primary-active);
	color: var(--dark);
}
.default:hover {
	background-color: var(--default-active);
}
.large {
	width: 200px;
	height: 80px;
	font-size: 27px;
}
.small {
	width: 90px;
	height: 30px;
	font-size: 19px;
}
.no-border {
	border: none;	
}
a img {
	width: 20%;
	margin: 10px;
}
