.button{
	--primary-color: #f56430;
	--primary-color-active: #f3542f;
	--default-color: #666666;
	--default-color-active: #555555;
	--light-color: #dcdcdc;
	--dark-color: #ffffff;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	background-color: var(--default-color);
	text-align: center;
	cursor: pointer;
	color: var(--light-color);
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid #f56430;
	font-size: 24px;
	min-height: 50px;
}
.primary {
	background-color: rgba(255,255,255,0);
	color: #666666;
}
.default{
	background-color: var(--default-color);
}
.primary:hover {
	background-color: var(--primary-color);
	color: white;
}
.default:hover {
	background-color: var(--default-color-active);
}
.large {
	width: 300px;
	height: 100px;
	font-size: 27px;
}
.small {
	width: 90px;
	height: 30px;
	font-size: 19px;
}
.no-border {
	border: none;
}
