.feature_main_body {
	margin-top: 40px;
	padding-top: 5px;
}
.feature_main_body_header {
    text-align: center;
    margin: 15px 0 6px;
    font-size: 26px;
    font-weight: bold;
}
.feature_main_cards {
    max-width: 1200px;
    margin: 18px auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.feature_main_card_cell {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: rgba(0,0,0,.2); 
}
.feature_main_card_wrap {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px 0 9px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.feature_main_card {
    background-size: 250px;
    height: 159px;
}
h3.feature_main_card_header {
    text-align: center;
    margin: 15px 0 6px;
    font-size: 18px;
    font-weight: bold;
    min-height: 50px;
}
.feature_main_card_lead {
    font-size: 18px;
    line-height: 158%;
}
.feature_main_card_cloud {
    background-image: url(../img/cloud.png);
}
.feature_main_card_gui {
    background-image: url(../img/gui.png);
}
.feature_main_card_speed {
    background-image: url(../img/speed.png);
}
.feature_main_card_advanced {
    background-image: url(../img/advanced.png);
}
