.cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--default);
}
.features-container {
	display: flex;
	flex-direction: column;
	color: var(--default);
	max-width: 1300px;
	min-width: 400px;
	margin: 10px;
}
.item {
	display: flex;
	flex-direction: column;
}
.normal, .reverse {
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.card {
	display: flex;
	align-items: center;
	background: rgba(0,0,0,.2);
}
.cardContent {
	color: var(--default);
	padding: 10px;
}
.reverse .card {
	flex-direction: row-reverse;
}
/*.normal {
	display: flex;
	align-items: center;
}
.reverse {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.normal, .reverse {
	display: flex;
	max-width: 100%;
	margin: 10px;
	padding: 20px;
	justify-content: space-around;
}
.normal img{
	max-width: 500px;
}
.reverse img{
	max-width: 500px;
}
.content {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
.cardImage {
	flex: 1;
	max-width: 500px;
}
.cardContent {
	width: 600px;
}
.cardContent h1 {
	color: var(--default);
}
.cardContent h2 {
	color: var(--default);
}*/
.normal img{
	max-width: 400px;
}
.reverse img{
	max-width: 400px;
}
.cardImage {
	flex: 1;
	max-width: 400px;
	margin: 10px;
}
@media (max-width: 1025px) {
	.normal img{
		width: 300px;
	}
	.reverse img{
		width: 300px;
	}
}
@media (max-width: 769px) {
	.normal img{
		width: 100px;
	}
	.reverse img{
		width: 100px;
	}
}
