* {
	box-sizing: border-box;
}
body {
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #f2efea;
}
:root {
	--default:			#405152;
	--default-active:	#253031;
	--primary:			#F39A31;
	--primary-active:	#F3BE31;
	--dark:				#0C2022;
	--light:			#F2EFEA;
	--danger:			#ff0000;
	--success:			#00ff00;
}
html, body {
	font-size: 16px;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
a, button {
	transition: all 0.5s ease;
}
@media (max-width: 1025px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}
@media (max-width: 769px) {
	h1 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1rem;
	}
}
