.contacts_main_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}
.contacts_main_body_header {
    text-align: center;
    margin: 15px 0 6px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
}
.contacts_main_form {
	max-width: 950px;
    margin: 18px auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
.contacts_main_form {
	max-width: 950px;
    margin: 18px auto 0;
    padding: 0;
	display: flex;
	flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
	background-color: rgba(0,0,0,.2);
}
.contacts_main_form_item {
	display: flex;
	justify-content: space-between;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}
.contacts_main_form_item_content input, .contacts_main_form_item_content textarea {
	margin-left: 15px;
	min-width: 500px;
}
.contacts_main_form_item_content textarea {
	margin-left: 15px;
	height: 100px;
}
.contacts_main_form_item_header {
    font-size: 20px;
    font-weight: normal;
	letter-spacing: -1px;
}
.contacts_submit {
	background: var(--primary);
	border: 0;
	width: 100px;
	height: 50px;
	font-size: 20px;
    font-weight: normal;
	font-family: "Times New Roman";
}
.formErrors{
	background-color: rgb(255, 110, 110);
}
.formErrors p {
	margin: 0;
	padding: 0 25px;
}
@media (max-width: 646px){
	.contacts_main_form_item_content input, .contacts_main_form_item_content textarea {
		margin-left: 15px;
		min-width: 320px;
	}
	.contacts_main_form_item_content textarea {
		margin-left: 15px;
		height: 100px;
	}
}
@media (max-width: 468px){
	.contacts_main_form_item_content input, .contacts_main_form_item_content textarea {
		margin-left: 15px;
		min-width: 170px;
	}
	.contacts_main_form_item_content textarea {
		margin-left: 15px;
		height: 100px;
	}
}
